{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Soy Luis Clavero</h1>
        <p>
            Soy Luis ingeniero en informática
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/lucho.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}

{{> scripts}}
